/* body {
	background: #000000;
}

.about {
	width: 100%;
	height: 46rem;
	margin-top: 5%;
}

.about-name {
	width: 20%;
	height: 28rem;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
}

.about-pic {
	width: 100%;
	height: 100%;
}

.about-text {
	width: 20%;
	height: 30rem;
	float: left;
	margin-left: 2%;
	margin-top: 5%;
	color: #fff;
}

.team-text {
	font-size: 20px;
}

.return a {
	color: #fff;
	font-family: "楷体";
	font-size: 25px;
} */

body {
	/* height: 57rem; */
}
.return a {
	color: #fff;
	/* font-family: "楷体"; */
	font-size: 25px;
}
.team {
	width: 100%;
	height: 100%;
	color: #fff;
	background: url(../img/team.jpg) center;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
}

.team-p {
	width: 70%;
	height: 20%;
	align-items: center;
	margin-left: 16%;
	margin-top: 20%;
	/* background-color: rgba(0, 0, 0, 0.4); */
}

.team-p p {
	font-size: 2rem;
	text-indent: 2em;
}

@media screen and (min-width:320px) and (max-width:375px) {
	/* .about-name {
		width: 70%;
		height: 15rem;
		margin-left: 15%;
		margin-top: 5%;
	}
	.about-text {
		width: 100%;
		height: 20rem;
		margin-left: 2%;
		margin-top: 5%;
		color: #fff;
	}
	.team-text {
		font-size: 15px;
	} */
	
	.team-p {
		width: 70%;
		height: 28%;
		align-items: center;
		margin-left: 16%;
		margin-top: 60%;
		/* background-color: rgba(0, 0, 0, 0.4); */
	}
	.team-p p {
		font-size: 1rem;
		text-indent: 1em;
	}

}

@media screen and (min-width:375px) and (max-width:425px) {
	/* .about-name {
		width: 70%;
		height: 19rem;
		margin-left: 15%;
		margin-top: 5%;
	}
	.about-text {
		width: 90%;
		height: 20rem;
		margin-left: 5%;
		margin-top: 5%;
		color: #fff;
	}
	.team-text {
		font-size: 16px;
	} */
	.team-p {
		width: 70%;
		height: 20%;
		align-items: center;
		margin-left: 16%;
		margin-top: 60%;
		/* background-color: rgba(0, 0, 0, 0.4); */
	}
	.team-p p {
		font-size: 1rem;
		text-indent: 1em;
	}
}

@media screen and (min-width:425px) and (max-width:768px) {
	/* .about-name {
		width: 60%;
		height: 19rem;
		margin-left: 15%;
		margin-top: 10%;
	}
	.about-text {
		width: 90%;
		height: 20rem;
		margin-left: 5%;
		margin-top: 5%;
		color: #fff;
	}
	.team-text {
		font-size: 18px;
	} */
	.team-p {
		width: 70%;
		height: 20%;
		align-items: center;
		margin-left: 16%;
		margin-top:40%;
		/* background-color: rgba(0, 0, 0, 0.4); */
	}
	.team-p p {
		font-size: 1rem;
		text-indent: 1em;
	}
}

@media screen and (min-width:768px) and (max-width:1024px) {
	/* .about-name {
		width: 40%;
		height: 19rem;
		float: left;
		margin-left: 0%;
		margin-top:6%;
	}
	.about-text {
		width: 40%;
		height: 20rem;
		margin-left: 5%;
		margin-top: 5%;
		color: #fff;
	}
	.team-text {
		font-size: 15px;
	} */
	
	.team-p p {
		font-size: 2rem;
		text-indent: 1em;
	}
}

@media screen and (min-width:1024px) and (max-width:1440px) {
	/* .about-name {
		width: 40%;
		height: 28rem;
		float: left;
		margin-left: 5%;
		margin-top: 5%;
	}
	
	.about-text {
		width: 50%;
		height: 30rem;
		float: left;
		margin-left: 2%;
		margin-top: 5%;
		color: #fff;
	}
	
	.team-text {
		font-size: 25px;
	}
	
	.return a {
		color: #fff;
		font-family: "楷体";
		font-size: 35px;
	} */
	.team-p p {
		font-size: 2rem;
		text-indent: 1em;
	}
	.return a {
		color: #fff;
		/* font-family: "楷体"; */
		font-size: 35px;
	}
}

@media screen and (min-width:1440px) and (max-width:1535px) {
	/* .about-name {
		width:30%;
		height: 38rem;
		float: left;
		margin-left: 5%;
		margin-top: 5%;
	}
	
	.about-text {
		width: 60%;
		height: 40rem;
		float: left;
		margin-left: 2%;
		margin-top: 5%;
		color: #fff;
	}
	.about-text h2{
		font-size: 45px;
	}
	.team-text {
		font-size: 35px;
	}
	
	.return a {
		color: #fff;
		font-family: "楷体";
		font-size: 45px;
	} */
	.team-p p {
		font-size: 2rem;
		text-indent: 1em;
	}
	.return a {
		color: #fff;
		/* font-family: "楷体"; */
		font-size: 45px;
	} 
}

@media screen and (min-width:1536px) and (max-width:1900px) {
	/* .about-name {
		width:30%;
		height: 38rem;
		float: left;
		margin-left: 5%;
		margin-top: 5%;
	}
	
	.about-text {
		width: 60%;
		height: 40rem;
		float: left;
		margin-left: 2%;
		margin-top: 5%;
		color: #fff;
	}
	.about-text h2{
		font-size: 45px;
	}
	.team-text {
		font-size: 35px;
	}
	
	.return a {
		color: #fff;
		font-family: "楷体";
		font-size: 45px;
	} */
	.team-p p {
		font-size: 2rem;
		text-indent: 1em;
	}
	.return a {
		color: #fff;
		/* font-family: "楷体"; */
		font-size: 45px;
	} 
}
