section.coidea-slider .slider-content .slider-content-inner p {
    font-family: "Montserrat", sans-serif;
    color: #020100;
    max-width: 280px;
    margin:10px;
}
 
@media screen and (min-width:320px) and (max-width:375px) {
}