@media screen and (min-width:320px) and (max-width:375px) {

	/* logo--------------------- */
	.logo {
		position: fixed;
		width: 60px;
		height: 80px;
		top: 5px;
		left: 5px;
		z-index: 10;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	/* 提示 */
	.heit {
		display: inline; 
	}

	.heit-bottom {
		display: inline;
	}

	/* nav.................... */
	.index-nav {
		display: none;
	}

	.move-technology {
		display: inline;
	}

	.navbar.main {
		position: absolute;
		top: 35px;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.4);
	}
	/* 首页 */
	.mask-pic {
		width: 100%;
		height: 33%;
		position: absolute;
		top: 30%;
	}

	.intro-text {
		font-size: 35px;
	}

	.intro-animated {
		font-size: 25px;
	}

	/* 核心技术 */
	.move-technology {
		display: inline;
	}

	.swiper-container {
		display: none;
	}

	.btn {
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
	}

	.btn:hover {
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
	}

	.pull-menu {
		height: 380px;
		align-items: center;
	}

	.pull-menu div img {
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
	}

	.menu {
		position: absolute;
		right: 50px;
		top: -10px;
	}

	.dropdown-menu {
		position: absolute;
		top: 75%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 6x 0;
		margin: 10px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: rgba(0, 0, 0, 0.6);
		-webkit-background-clip: padding-box;

	}

	.dropdown-menu>li>a {
		color: #fff;
		padding: 1px 20px;
	}

	.image {
		height: 380px;
		align-items: center;
	}

	.technology-strip {
		height: 60px;
	}

	.technology-text-one {
		font-size: 15px;
	}

	.technology-text-two {
		font-size: 15px;
	}

	.technology-strip {
		position: absolute;
		width: 100%;
		align-items: center;
		text-align: center;
		padding: 1% 0;
		background-color: rgba(0, 0, 0, 0.5);
		margin-top: 50%;
	}

	/* 应用案例	 */
	.white {
		font-size: 20px;
	}

	.text-p {
		font-size: 10px;
	}
	ul{
		display: none;
	}
	.case-circle {
		width: 45%;
		height: 50%;
		text-align: center;
		padding-top: 0;
		z-index: 5;
	}

	.case-rectangle {
		width: 100%;
		height: 39%;
		margin-left: 0%;
		margin-top: 70px;
		padding: 10px;
	}

	.case-factory {
		width: 100%;
		height: 300px;
	}

	.case-military {
		width: 100%;
		height: 300px;
	}

	.case-construction {
		width: 100%;
		height: 300px;
	}

	.case-text {
		text-indent: 2em;
		font-size: 0.7rem;
		font-family: "幼圆";
	}

	.fp-controlArrow.fp-prev {
		display: none;
	}

	.fp-controlArrow {
		display: none;
	}

	.fp-controlArrow.fp-next {
		display: none;
	}
	/* 关于广景 */
	.about-front {
		display: none;
	}

	.move {
		display: inline;
	}
	/* ---- */
	#fp-nav {
		display: none;
	}
	
	/* 加入我们----------------------------------------*/
	/* 名片 */
	.visitingCard {
		width: 100%;
		height: 30%;
		margin-top: 5%;
	}
	
	.code {
		width: 50%;
		height: 100%;
		margin-left: 27%;
	}
	
	/* 地址 */
	.site {
		width: 100%;
		height: 45.5%;
		background-color: #222222;
	}
	
	.site-text-top {
		text-align: center;
		padding-top: 15%;
		font-size: 30px;
		color: #fff;
	}
	
	.site-text-bottom {
		text-align: center;
		padding-top: 5%;
		font-size: 25px;
		color: ##fff;
	}
}

@media screen and (min-width:375px) and (max-width:426px) {
	.mask-pic {
		width: 100%;
		height: 25%;
		position: absolute;
		top: 35%;
	}

	/* 提示 */
	.heit {
		display: inline;
	}

	.heit-bottom {
		display: inline;
	}

	/* nav.................... */
	.index-nav {
		display: none;
	}

	/* logo--------------------- */
	.logo {
		position: fixed;
		width: 60px;
		height: 80px;
		top: 5px;
		left: 5px;
		z-index: 10;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}


	/* 核心技术 */
	.move-technology {
		display: inline;
	}

	.swiper-container {
		display: none;
	}

	.btn {
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
	}

	.btn:hover {
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
	}

	.pull-menu {
		height: 380px;
		align-items: center;
	}

	.pull-menu div img {
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
	}

	.menu {
		position: absolute;
		right: 50px;
		top: -10px;
	}

	.dropdown-menu {
		position: absolute;
		top: 75%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 6x 0;
		margin: 10px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: rgba(0, 0, 0, 0.6);
		-webkit-background-clip: padding-box;

	}

	.dropdown-menu>li>a {
		color: #fff;
		padding: 1px 20px;
	}

	.image {
		height: 380px;
		align-items: center;
	}

	.technology-strip {
		height: 60px;
	}

	.technology-text-one {
		font-size: 15px;
	}

	.technology-text-two {
		font-size: 15px;
	}

	.technology-strip {
		position: absolute;
		width: 100%;
		/* height: 14%; */
		align-items: center;
		text-align: center;
		padding: 1% 0;
		background-color: rgba(0, 0, 0, 0.5);
		margin-top: 50%;
	}

	/* 应用案例	 */
	.text-p {
		font-size: 10px;
	}

	.white {
		font-size: 2rem;
	}

	.case-circle {
		width: 45%;
		height: 50%;
		text-align: center;
		padding-top: 0;
		z-index: 5;
	}

	.case-rectangle {
		width: 100%;
		height: 35%;
		margin-left: 0%;
		margin-top: 100px;
		padding: 10px;
	}

	.case-factory {
		width: 100%;
		height: 300px;
	}

	.case-military {
		width: 100%;
		height: 300px;
	}

	.case-construction {
		width: 100%;
		height: 300px;
	}

	.case-text {
		text-indent: 2em;
		font-size: 0.7rem;
		font-family: "幼圆";
	}

	.fp-controlArrow.fp-prev {
		display: none;
	}

	.fp-controlArrow {
		display: none;
	}

	.fp-controlArrow.fp-next {
		display: none;
	}

	/* 关于广景 */
	.about-front {
		display: none;
	}
	
	.move {
		display: inline;
	}
	#fp-nav {
		display: none;
	}
	
	/* 加入我们----------------------------------------*/
	/* 名片 */
	.visitingCard {
		width: 100%;
		height: 30%;
		margin-top: 5%;
	}
	
	.code {
		width: 50%;
		height: 12rem;
		margin-left: 25%;
	}
	
	/* 地址 */
	.site {
		width: 100%;
		height: 20rem;
		background-color: #222222;
		margin-top:5%;
	}
	
	.site-text-top {
		text-align: center;
		padding-top: 15%;
		font-size: 30px;
		color: #fff;
	}
	
	.site-text-bottom {
		text-align: center;
		padding-top: 5%;
		font-size: 25px;
		color: #fff;
	}
}
@media screen and (min-width:426px) and (max-width:767px) {
	.mask-pic {
		width: 100%;
		height: 15rem;
		position: absolute;
		top: 35%;
	}

	/* 提示 */
	.heit {
		display: inline;
	}

	.heit-bottom {
		display: inline;
	}

	/* nav.................... */
	.index-nav {
		display: none;
	}


	/* logo--------------------- */
	.logo {
		position: fixed;
		width: 60px;
		height: 80px;
		top: 5px;
		left: 5px;
		z-index: 10;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	/* 核心技术 */
	.move-technology {
		display: inline;
	}

	.swiper-container {
		display: none;
	}

	.btn {
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
	}

	.btn:hover {
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
	}

	.pull-menu {
		height: 0%;
		align-items: center;
	}

	.pull-menu div img {
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
	}

	.menu {
		position: absolute;
		right: 50px;
		top: -10px;
	}

	.dropdown-menu {
		position: absolute;
		top: 75%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 6x 0;
		margin: 10px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: rgba(0, 0, 0, 0.6);
		-webkit-background-clip: padding-box;
	}

	.dropdown-menu>li>a {
		color: #fff;
		padding: 3px 20px;
	}

	.image {
		height: 30rem;
		align-items: center;
	}

	.technology-strip {
		height: 60px;
	}

	.technology-text-one {
		font-size: 15px;
	}

	.technology-text-two {
		font-size: 15px;
	}

	.technology-strip {
		position: absolute;
		width: 100%;
		align-items: center;
		text-align: center;
		padding: 1% 0;
		background-color: rgba(0, 0, 0, 0.5);
		margin-top: 15rem;
	}

	/* 应用案例	 */
	.text-p {
		font-size: 10px;
	}

	.white {
		font-size: 2rem;
	}

	.case-circle {
		width: 45%;
		height: 50%;
		text-align: center;
		padding-top: 0;
		z-index: 5;
	}

	.case-rectangle {
		width: 100%;
		height: 11rem;
		margin-left: 0%;
		margin-top: 100px;
		padding: 10px;
	}

	.case-factory {
		width: 100%;
		height: 300px;
	}

	.case-military {
		width: 100%;
		height: 300px;
	}

	.case-construction {
		width: 100%;
		height: 300px;
	}

	.case-text {
		text-indent: 2em;
		font-size: 20px;
		font-family: "幼圆";
	}

	.fp-controlArrow.fp-prev {
		display: none;
	}

	.fp-controlArrow {
		display: none;
	}

	/* 关于广景 */
	.about-front {
		display: none;
	}
	
	.move {
		display: inline;
	}
	/* --- */
	#fp-nav {
		display: none;
	}
	
	/* 加入我们----------------------------------------*/
	/* 名片 */
	.visitingCard {
		width: 100%;
		height: 30%;
		margin-top: 5%;
	}
	
	.code {
		width: 18rem;
		height: 18rem;
		margin-left:25%;
	}
	
	/* 地址 */
	.site {
		width: 100%;
		height: 45.5%;
		background-color: #222222;
	}
	
	.site-text-top {
		text-align: center;
		padding-top: 15%;
		font-size: 30px;
		color: #fff;
	}
	
	.site-text-bottom {
		text-align: center;
		padding-top: 5%;
		font-size: 25px;
		color: #fff;
	}
}
@media screen and (min-width:768px) and (max-width:1024px) {
	.mask-pic {
		width: 100%;
		height: 25rem;
		/* align-items: center; */
		position: absolute;
		top: 25%;
	}

	/* 提示 */
	.heit {
		display: inline;
	}

	.nav-trigger {
		display: none;
	}

	.heit-bottom {
		display: inline;
	}

	/* 核心技术 */
	.move-technology {
		display: none;
	}
	.swiper-container{
		display: inline;
	}
	/* 核心技术 */
	.swiper-wrapper {
		width: 50%;
		height: 30rem;
	}
	
	.technology-strip {
		position: absolute;
		width: 90%;
		height: 15%;
		text-align: center;
		padding: 1% 0;
		background-color: rgba(0, 0, 0, 0.5);
		margin-top: 0%;
	}
	
	.technology-text-one {
		font-size: 1.7rem;
	}
	
	.technology-text-two {
		font-size: 1rem;
	}
	/* 应用案例	 */
	.white {
		font-size: 2rem;
	}
	.swiper-pagination-bullet {
	    display: none;
	}
	.text-p {
		font-size: 10px;
	}
	
	.case-circle {
		width: 45%;
		height: 50%;
		text-align: center;
		padding-top: 0;
		z-index: 5;
	}

	.case-rectangle {
		width: 100%;
		height: 35%;
		margin-left: 0%;
		margin-top: 100px;
		padding: 10px;
	}

	.case-factory {
		width: 80%;
		height: 300px;
		margin-left: 5%;
	}

	.case-military {
		width: 80%;
		height: 300px;
		margin-left: 5%;
	}

	.case-construction {
		width: 80%;
		height: 300px;
		margin-left: 5%;
	}

	.case-text {
		text-indent: 2em;
		font-size: 1rem;
		font-family: "幼圆";
	}

	.fp-controlArrow.fp-prev {
		display: none;
	}

	.fp-controlArrow {
		display: none;
	}

	.fp-controlArrow.fp-next {
		display: inline;
	}

	/* 关于广景 */
	.about-front {
		display: inline
	}
	
	.move {
		display: none;
	}
	.about-global {
		width: 33%;
		height: 40rem;
		float: left;
		margin-left: 0.3%;
		margin-top: 8rem;
	}
	
	/* 蒙版 */
	/* .about-mask {
		width: 100%;
		height: 40rem;
		background: rgba(192, 192, 192, 0.3);
		position: absolute;
	}
	
	.about-mask:hover {
		width: 100%;
		height: 40rem;
		background: rgba(192, 192, 192, 0);
	} */
	
	/* 文字 */
	.mask-text {
		padding-top: 2%;
		padding-left: 2%;
		color: #000000;
		position: absolute;
	}
	
	/* 公司简介 */
	.about-left {
		width: 100%;
		height: 40rem;
		position: relative;
		transition: .5s;
		float: left;
	}
	
	.about-left img{
		width: 100%;
		height: 100%;
	}
	 .about-left img:hover {
		width: 130%;
		height: 40rem;
	}
	
	/* 品牌文化 */
	.about-center {
		width: 100%;
		height: 40rem;
		position: relative;
		transition: .5s;
		margin: 0 auto;
	}
	
	.about-center img {
		width: 100%;
		height: 100%;
	}
	
	.about-center img:hover {
		width: 160%;
		height: 40rem;
		z-index: 2;
		margin-left: -50%;
		display: inline-block !important;
		display: inline;
	}
	
	
	/* 团队介绍 */
	.about-right {
		width: 100%;
		height: 40rem;
		position: relative;
		transition: .5s;
		float: right;
	}
	.about-right img {
		width: 100%;
		height: 100%;
		float: right;
	}
	
	.about-right img:hover {
		width: 130%;
		height: 40rem;
	}
	
	.mask-text {
		position: absolute;
		top: 50%;
	}
	
	.mask-text>h2>a {
		color: #000000;
	}
	
	.display {
		display: none;
	}
	
	.about-behind {
		width: 100%;
		height: 40rem;
		background: #007AFF;
	}
	/* 加入我们----------------------------------------*/
	/* 名片 */
	.visitingCard {
		width: 100%;
		height: 35%;
		margin-top: 15%;
	}
	
	.code {
		width: 20rem;
		height: 20rem;
		margin-left: 30%;
	}
	
	/* 地址 */
	.site {
		width: 100%;
		align-items: bottom;
		background-color: #222222;
	}
	
	.site-text-top {
		text-align: center;
		padding-top: 15%;
		font-size: 30px;
		color: #fff;
	}
	
	.site-text-bottom {
		text-align: center;
		padding-top: 5%;
		font-size: 25px;
		color: #fff;
	}
}
@media screen and (min-width:1024px) and (max-width:1440px) {
	.mask-pic {
		width: 100%;
		height:40rem;
		align-items: center;
	}

	.heit-bottom {
		display: none;
	}

	.heit {
		display: none;
	}

	.nav-trigger {
		display: none;
	}

	.section {
		width: 100%;
		height: 800px;
	}

	/* 核心技术 */
	.swiper-wrapper {
		width: 100%;
		height: 25rem;
	}

	.technology-strip {
		position: absolute;
		width: 100%;
		height: 15%;
		text-align: center;
		padding: 1% 0;
		background-color: rgba(0, 0, 0, 0.5);
		margin-top: 00%;
	}

	.technology-text-one {
		font-size: 1.7rem;
	}

	.technology-text-two {
		font-size: 1rem;
	}

	/* 应用案例	 */
	.text-p {
		font-size: 15px;
	}

	.case-circle {
		width: 45%;
		height: 50%;
		text-align: center;
		padding-top: 50px;
		z-index: 5;
	}

	.case-rectangle {
		width: 70%;
		height: 13%;
		float: right;
		margin-top: 10rem;
		padding: 10px;
	}

	.case-factory {
		width: 100%;
		height: 100%;
		margin-left: 0;
	}

	.case-military {
		width: 100%;
		height: 100%;
		margin-left: 0;
	}

	.case-construction {
		width: 100%;
		height: 100%;
		margin-left: 0;
	}

	.case-text {
		text-indent: 2em;
		font-size: 1rem;
		font-family: "幼圆";
	}

	.fp-controlArrow.fp-prev {
		display: none;
	}

	.fp-controlArrow {
		display: none;
	}

	.fp-controlArrow.fp-next {
		display: inline;
	}

	/* 关于广景 */
	.about-global {
		width: 33%;
		height: 40rem;
		margin-top: 5rem;
	}

	/* 蒙版 */
/* 	.about-mask {
		width: 100%;
		height: 40rem;
		background: rgba(192, 192, 192, 0.3);
	}

	.about-mask:hover {
		width: 100%;
		height: 40rem;
		background: rgba(192, 192, 192, 0);
	} */

	/* 公司简介 */
	.about-left {
		width: 100%;
		height: 40rem;
	}
	
	.about-left img{
		width: 100%;
		height: 100%;
	}
	 .about-left img:hover {
		width: 120%;
		height: 40rem;
	}

	/* 品牌文化 */
	.about-center {
		width: 100%;
		height: 40rem;
	}

	.about-center img {
		width: 100%;
		height: 100%;
	}
	
	.about-center img:hover {
		width: 155%;
		height: 40rem;
	}

	/* 团队介绍 */
	.about-right {
		width: 100%;
		height: 40rem;
	}

	
	.about-right img {
		width: 100%;
		height: 100%;
		float: right;
	}
	
	.about-right img:hover {
		width: 120%;
		height: 40rem;
	}

	.mask-text {
		padding-top: 55%;
		padding-left: 20%;
		position: absolute;
	}

	.text-black {
		font-size: 20px;
	}

	.about-mask {
		margin-top: 0%;
	}

	/* 加入我们----------------------------------------*/
	/* 名片 */
	.visitingCard {
		width: 100%;
		height: 35%;
		margin-top: -10%;
	}

	.code {
		width:22rem;
		height: 22rem;
		margin-left: 37%;
	}

	/* 地址 */
	.site {
		width: 100%;
		height:30%;
		background-color: #222222;
		margin-top: -5%;
	}

	.site-text-top {
		text-align: center;
		padding-top: 15%;
		font-size: 3rem;
		color: #fff;
	}

	.site-text-bottom {
		text-align: center;
		padding-top: 2%;
		font-size: 2rem;
		color: #fff;
	}
}

@media screen and (min-width:1440px) and (max-width:1535px) {
	.mask-pic {
		width: 100%;
		height: 80%;
		align-items: center;
	}

	#fp-nav {
		display: none;
	}

	/* 核心技术 */
	.swiper-wrapper {
		width: 100%;
		height: 30rem;
	}

	.technology-strip {
		position: absolute;
		width: 100%;
		height: 15%;
		text-align: center;
		padding: 1% 0;
		background-color: rgba(0, 0, 0, 0.5);
		margin-top: 0%;
	}

	.technology-text-one {
		font-size: 2.5rem;
	}

	.technology-text-two {
		font-size: 1.5rem;
	}

	/* 案例分析 */
	.white {
		font-size: 3.5rem;
	}

	.text-p {
		font-size: 23px;
	}

	.case-circle {
		width: 45%;
		height: 50%;
		text-align: center;
		padding-top: 0;
		z-index: 5;
		padding-top: 150px;
	}

	.case-rectangle {
		width: 60%;
		height: 15%;
		float: right;
		margin-top: 300px;
		padding: 40px;
	}

	.case-factory {
		width: 100%;
		height:100%;
	}

	.case-military {
		width: 100%;
		height:100%;
	}

	.case-construction {
		width: 100%;
		height:100%;
	}

	.case-text {
		text-indent: 2em;
		font-size: 1.5rem;
		font-family: "幼圆";
	}

	.case-rectangle {
		width: 60%;
		height: 23%;
		float: right;
		margin-top: 10%;
		padding: 40px;
	}

	.fp-controlArrow.fp-prev {
		display: inline;
	}

	.fp-controlArrow {
		display: inline;
	}

	.fp-controlArrow.fp-next {
		display: inline;
	}

	/* 关于广景 */
	.about-global {
		width: 33%;
		height: 40rem;
	}

	/* 蒙版 */
	/* .about-mask {
		width: 100%;
		height: 40rem;
		background: rgba(192, 192, 192, 0.3);
	}

	.about-mask:hover {
		width: 100%;
		height: 40rem;
		background: rgba(192, 192, 192, 0);
	} */

	/* 公司简介 */
	.about-left {
		width: 100%;
		height: 40rem;
	}

	
	.about-left img{
		width: 100%;
		height: 100%;
	}
	 .about-left img:hover {
		width: 120%;
		height: 40rem;
	}

	/* 品牌文化 */
	.about-center {
		width: 100%;
		height: 40rem;
	}

 
	.about-center img {
		width: 100%;
		height: 100%;
	}
	
	.about-center img:hover {
		width: 155%;
		height: 40rem;
	}
	
	/* 团队介绍 */
	.about-right {
		width: 100%;
		height: 40rem;
	}

	
	.about-right img {
		width: 100%;
		height: 100%;
		float: right;
	}
	
	.about-right img:hover {
		width: 120%;
		height: 40rem;
	}

	.mask-text {
		padding-top: 50%;
		padding-left: 20%;
		position: absolute;
	}

	.text-black {
		font-size: 20px;
	}

	/* 加入我们----------------------------------------*/
	/* 名片 */
	.visitingCard {
		width: 100%;
		height:10rem;
		margin-top: 0%;
		margin-left: 2%;
	}

	.code {
		width: 20rem;
		height: 20rem;
		align-items: center;
	}

	/* 地址 */
	.site {
		width: 100%;
		height: 35.5%;
		background-color: #222222;
		margin-top: 10%;
	}

	.site-text-top {
		text-align: center;
		padding-top: 5%;
		font-size: 4rem;
		color: #fff;
	}

	.site-text-bottom {
		text-align: center;
		padding-top: 5%;
		font-size: 3rem;
		color: #fff;
	}
}

@media screen and (min-width:1535px) and (max-width:1900px) {
	.mask-pic {
		width: 100%;
		height:45rem;
		position: absolute;
		top: 10%;
	}
	.section {
		height: 50rem;
	}

	.swiper-wrapper {
		width: 100%;
		height: 40rem;
	}

	.swiper-slide {
		margin-top: 0%;

	}

	/* 核心技术 */
	.swiper-wrapper {
		width: 100%;
		height: 40rem;
	}

	.technology-strip {
		position: absolute;
		width: 100%;
		height: 15%;
		text-align: center;
		padding: 1% 0;
		background-color: rgba(0, 0, 0, 0.5);
		margin-top: 0%;
	}

	.technology-text-one {
		font-size: 2.5rem;
	}

	.technology-text-two {
		font-size: 1.5rem;
	}

	/* 案例分析 */
	.white {
		font-size: 3.5rem;
	}

	.text-p {
		font-size: 23px;
	}

	.case-circle {
		width: 45%;
		height: 50%;
		text-align: center;
		padding-top: 0;
		z-index: 5;
		padding-top: 150px;
	}

	.case-factory {
		width: 100%;
	}

	.case-military {
		width: 100%;
		
	}

	.case-construction {
		width: 100%;
	}

	.case-text {
		text-indent: 2em;
		font-size: 1.5rem;
		font-family: "幼圆";
	}

	.case-rectangle {
		width: 60%;
		height: 12rem;
		float: right;
		margin-top: 10%;
		padding: 40px;
	}

	.fp-controlArrow.fp-prev {
		display: inline;
	}

	.fp-controlArrow {
		display: inline;
	}

	.fp-controlArrow.fp-next {
		display: inline;
	}
	
	/* 关于广景 */
	.about-global {
		width: 33%;
		height: 40rem;
	}
	
	/* 蒙版 */
	/* .about-mask {
		width: 100%;
		height: 40rem;
		background: rgba(192, 192, 192, 0.3);
	}
	
	.about-mask:hover {
		width: 100%;
		height: 40rem;
		background: rgba(192, 192, 192, 0);
	} */
	
	/* 公司简介 */
	.about-left {
		width: 100%;
		height: 40rem;
	}
	
	.about-left img{
		width: 100%;
		height: 100%;
	}
	 .about-left img:hover {
		width: 120%;
		height: 40rem;
	}
	
	/* 品牌文化 */
	.about-center {
		width: 100%;
		height: 40rem;
	}
	
	.about-center img {
		width: 100%;
		height: 100%;
	}
	
	.about-center img:hover {
		width: 155%;
		height: 40rem;
	}
	
	/* 团队介绍 */
	.about-right {
		width: 100%;
		height: 40rem;
	}
	
	
	.about-right img {
		width: 100%;
		height: 100%;
		float: right;
	}
	
	.about-right img:hover {
		width: 120%;
		height: 40rem;
	}
	
	.mask-text {
		padding-top: 60%;
		padding-left: 20%;
		position: absolute;
	}
	
	.text-black {
		font-size: 20px;
	}
	/* 加入我们----------------------------------------*/
	/* 名片 */
	.visitingCard {
		width: 100%;
		height:10rem;
		margin-top: 0%;
		margin-left: 2%;
	}
	
	.code {
		width: 20rem;
		height: 20rem;
		align-items: center;
	}
	
	/* 地址 */
	.site {
		width: 100%;
		height: 35.5%;
		background-color: #222222;
		margin-top: 10%;
	}
	
	.site-text-top {
		text-align: center;
		padding-top: 5%;
		font-size: 4rem;
		color: #fff;
	}
	
	.site-text-bottom {
		text-align: center;
		padding-top: 5%;
		font-size: 3rem;
		color: #fff;
	}
}

